<div class="container p-col-12">

  <!-- Cabeçalho -->
  <div class="title-container p-col-12">
    <h1 style="font-size: 60px;">Menu do administrador de eventos</h1>
  </div>
  <div class="text-container p-col-12">
    <p style="margin-top: -20px; margin-bottom: 20px;">O que deseja fazer?</p>
  </div>


  <!-- Botões -->
  <div class="container-align p-col-12" >
    <!-- Indicando a rota de navegação para o Router -->
    <nav>
      <!-- Leva para a página de cadastro de coordenador -->
      <a [routerLink]="['/pagina-adm/coordenadores/novo']" style="color: transparent;">
        <button class="button-container" style="display: flex; margin: auto; text-align: center;"
        pTooltip="Novo coordenador" tooltipPosition="top">Cadastrar coordenador</button>
      </a>

      <div style="width: 5%; display: flex; margin: auto;"><p-divider></p-divider></div>

      <!-- Leva para a lista de coordenadores -->
      <a [routerLink]="['/pagina-adm/coordenadores']" style="color: transparent;">
        <button class="button-container" style="display: flex; margin: auto; text-align: center;"
        pTooltip="Ir para lista de coordenadores cadastrados" tooltipPosition="top">Lista de coordenadores</button>
      </a>
    </nav>
  </div>
</div>
