
.link-body
{
  text-align: center;
  margin: auto;
  background-color: aliceblue;
  width: fit-content;
}

tbody>tr>:nth-col{
  color:red;
  width:200px;
  text-align:center;
 }

.short-text{
  line-height: 1%;
}
